.App{
  overflow: hidden;
}

.gallery{
  column-count: 4;
  column-gap: 1em;
  margin: 1em;
}
.tile{
  position: relative;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.item{
  position: relative;

}

.name{
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}

.header{
  width: 100%;
}

